/* 基本リセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden; /* 横スクロールを無効化 */
}


/* ヘッダー部分 */
header {
    width: 100%;
    height: 100vh; /* ヘッダーの高さを画面全体に変更 */

    background-size: cover; /* 画面を覆うように画像を拡大 */
    background-position: center center; /* 中央に配置 */
    background-repeat: no-repeat; /* 繰り返しを防ぐ */
    overflow: hidden; /* 画面外にはみ出た部分を隠す */
}

.background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}




/* メディアクエリ */
@media (max-width: 768px) {
    header {
        background-size: contain;
        height: auto;https://sikiyuen.com/shikiyuen/img/top.png

    }
}

.background-image {
    width: 100%; 
    height: auto;
}

/* 固定表示の画像 */
#fixed-image {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    max-width: 100%;
    overflow: hidden;
}

#fixed-image img {
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#fixed-image img:hover {
    transform: scale(1.1);
}

/* スライダーのスタイル */
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.slide {
    flex-shrink: 0;
    min-width: calc(100% / 3);
    max-width: 33%;
    box-sizing: border-box;
}

.slider img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

//////////////

/* メディアクエリ */
@media (max-width: 768px) {

	.slider-container {
    		position: relative;
    		width: 100%;
    		overflow: hidden;
	}

	.slider {
    		display: flex;
    		transition: -webkit-transform 0.5s ease-in-out;
    		transition: transform 0.5s ease-in-out;
    		will-change: transform;
    		backface-visibility: hidden;
    		-webkit-backface-visibility: hidden;
	}

	.slide {
    		flex-shrink: 0;
    		min-width: calc(100% / 3);
    		max-width: 33%;
    		box-sizing: border-box;
	}

	.slider img {
    		width: 100%;
    		height: auto;
    		border-radius: 10px;
	}

}


////////////////////////////////

/* ドットナビゲーション */
.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot-btn {
    background-color: #333;
    color: white;
    padding: 30px;
    margin: 0 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.dot-btn:hover {
    background-color: #555;
}

/* ナビゲーションボタン */
.slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

.nav-btn {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.nav-btn:hover {
    background-color: #555;
}
