.logo{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */


}

.midashi{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */
    font-family: "Times New Roman","MS PMincho";
    max-width: 100%;

}

.komidashi{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */
    font-family: "Times New Roman","MS PMincho";
    max-width: 100%;

}

.honbun{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */
    font-family: "Times New Roman","MS PMincho";

}

.table{

    display: table;
    margin: auto;
    background-color: #e0e0e0;
    max-width: 100%;

}

.table .row{
    display: table-row;
}