.logo{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */


}



/* テーブル全体のスタイルを整える */
table {
    border-collapse: collapse; /* セル間の隙間をなくす */
    width: 100%; /* テーブルの幅を指定 */
}

td {
    padding: 0px; /* セル内の余白を指定 */
    background: none !important; /* セル単体の背景を無効化 */
    text-align: center; /* テキストの中央寄せ */
    color: white; /* 背景画像上で見やすい文字色に */
}

.row{
    display: table-row;
    margin: 100px;
}

.cell{
    display: table-cell;
    vertical-align: middle;
    background: bule;
    padding: 10px;

    img{
    width: 80%;
    }
}

.springback{

    background-image: url(../img/springback.png);
    background-size: 400%;

}

.summerback{

    background-image: url(../img/summerback.png);
    background-size: 400%;

}

.autumnback{

    background-image: url(../img/autumnback.png);
    background-size: 400%;

}

.winterback{

    background-image: url(../img/winterback.png);
    background-size: 400%;

}

.ryuback{

    background-image: url(../img/ryuback.png);
    background-size: 400%;

}

.anai{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */

}

.midashi{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */
    font-family: "Times New Roman","MS PMincho";
    max-width: 100%;
    background-color: #e0e0e0;

}

.title{

    font-size: 200%;

}