.logo{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */


}





.springback{

    background-image: url(../img/springback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.summerback{

    background-image: url(../img/summerback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.autumnback{

    background-image: url(../img/autumnback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.winterback{

    background-image: url(../img/winterback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.ryuback{

    background-image: url(../img/ryuback.png);
    background-repeat: no-repeat;
    background-size: 400%;
    background-position: center;

}



table {
    border-collapse: collapse; /* セル間の隙間をなくす */
    width: 100%; /* テーブルの幅を指定 */
}

tr {
    display: block; /* 行をブロック要素として扱う */
    width: 100%; /* 行全体に幅を適用 */
}

td {
    padding: 10px; /* セル内の余白を指定 */
    background: none !important; /* セル単体の背景を無効化 */
    text-align: center; /* テキストの中央寄せ */
    color: white; /* 背景画像上で見やすい文字色に */
}


.cell{

	width: 50%;

}


.anai{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */

}

.midashi{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */
    font-family: "Times New Roman","MS PMincho";
    max-width: 100%;
    background-color: #e0e0e0;

}

.title{

    font-size: 200%;

}