.logo{

    display: flex;
    justify-content: center; /* 横方向で中央揃え */


}

.table{
    display: table;

}

.table .row{
    display: table-row;
}

.table .cell{
    display: table-cell;
    vertical-align: middle;
    background: bule;
    padding: 10px;

    img{
    width: 80%;
    }
}

.springback{

    background-image: url(../img/springback.png);

}

.summerback{

    background-image: url(../img/summerback.png);

}

.autumnback{

    background-image: url(../img/autumnback.png);

}

.winterback{

    background-image: url(../img/winterback.png);

}

.ryuback{

    background-image: url(../img/ryuback.png);
}